body {
    background-color: rgb(157, 192, 223);
    text-align: center;
    margin-top: 200px;
}

#timer {
    font-family: 'Spartan', sans-serif;
    font-size: 65px;
}

button {
    width: 50px;
    height: 20px;
    font-family: 'Spartan', sans-serif;
}