body {
    background-color: #87c3e8;
    text-align: center;
    margin-top: 170px;
}

.container {
    margin:auto;
    height:420px;
    width:420px;
    border-radius: 200px;
    background: #87c3e8;
    box-shadow:  20px 20px 60px #73a6c5, 
             -20px -20px 60px #9be0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer {
    font-family: 'Spartan', sans-serif;
    font-size: 50px;
}

button {
    width: 100px;
    height: 25px;
    font-family: 'Spartan', sans-serif;
}
button:hover {
    cursor: pointer;
}
button:focus {outline:none !important}

button:active {
    background: linear-gradient(145deg, #7ab0d1, #90d1f8);
    box-shadow:  20px 20px 60px #73a6c5, 
             -20px -20px 60px #9be0ff;
}
.buttons {
    font-size: 20px;
    text-align: center;
    padding: 11px;
    height:80px;
    width:80px;
    border-radius: 50%;
    border-color: transparent;
    background: #87c3e8;
    box-shadow:  20px 20px 60px #73a6c5, 
             -20px -20px 60px #9be0ff;
}